In [1]:
print('Python 4 data science')

Python 4 data science

In [3]:
x='Python '
y= '4 '
z='data '
k = 'science '

print(x + y + z + k)

Python 4 data science

In [4]:
course = 'Python 4 Data Science'

In [5]:
len(course)

21

In [9]:
company = 'Broadway Info SYS'
print(company.lower())
print(company.upper())

broadway info sys
BROADWAY INFO SYS

In [11]:
print(course.capitalize())
print(course.title())
print(course.swapcase())

Python 4 data science
Python 4 Data Science
pYTHON 4 dATA sCIENCE

In [14]:
print(course[0:6])

Python

In [15]:
course.index('Python')

0

In [20]:
course.find('Python')

0

In [22]:
'Python' in course

True

In [29]:
#course.replace('Data Science','Everybody')

In [24]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, /, count=-1) unbound builtins.str method
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [30]:
s = "Python for Data Science"

In [36]:
s.split(" ")

['Python', 'for', 'Data', 'Science']

In [32]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1) unbound builtins.str method
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \n \r \t \f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits.
        -1 (the default value) means no limit.

    Splitting starts at the front of the string and works to the end.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [33]:
c = 'Google, Facebook, Microsoft, Apple, IBM, Oracle, Amazon'

In [35]:
print(c.split(','))

['Google', ' Facebook', ' Microsoft', ' Apple', ' IBM', ' Oracle', ' Amazon']

In [37]:
print(c[9])

a

In [38]:
print(c[-2])

o

In [46]:
course.split(" ")
print(course[0], course[

['Python', '4', 'Data', 'Science']

In [47]:
len(course)

21

In [49]:
help('for')

The "for" statement
*******************

The "for" statement is used to iterate over the elements of a sequence
(such as a string, tuple or list) or other iterable object:

   for_stmt ::= "for" target_list "in" starred_list ":" suite
                ["else" ":" suite]

The "starred_list" expression is evaluated once; it should yield an
*iterable* object.  An *iterator* is created for that iterable. The
first item provided by the iterator is then assigned to the target
list using the standard rules for assignments (see Assignment
statements), and the suite is executed.  This repeats for each item
provided by the iterator.  When the iterator is exhausted, the suite
in the "else" clause, if present, is executed, and the loop
terminates.

A "break" statement executed in the first suite terminates the loop
without executing the "else" clauseâ€™s suite.  A "continue" statement
executed in the first suite skips the rest of the suite and continues
with the next item, or with the "else" clause if there is no next
item.

The for-loop makes assignments to the variables in the target list.
This overwrites all previous assignments to those variables including
those made in the suite of the for-loop:

   for i in range(10):
       print(i)
       i = 5             # this will not affect the for-loop
                         # because i will be overwritten with the next
                         # index in the range

Names in the target list are not deleted when the loop is finished,
but if the sequence is empty, they will not have been assigned to at
all by the loop.  Hint: the built-in type "range()" represents
immutable arithmetic sequences of integers. For instance, iterating
"range(3)" successively yields 0, 1, and then 2.

Changed in version 3.11: Starred elements are now allowed in the
expression list.

Related help topics: break, continue, while

In [74]:
if course:
    result = ''
    result += course[0].upper()
for i in range(21):    
    if course[i] == ' ':
           print(course[i+1], end='')

4DS

In [69]:
course.index('D')

9

In [70]:
course.rfind('e')

20

In [71]:
course.find('because')

-1

In [81]:
g = 'We cannont end the sentence with "because" because "because" is a conjuction'

In [91]:
g.find('because')

34

In [83]:
g.rindex('because')

52

In [90]:
g.index('because', 35)

43

In [88]:
g[34:41],g[43:50],g[52:59]

('because', 'because', 'because')