In [1]:
range(0 , 10)

range(0, 10)

In [2]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(0,10,2): #start, stop, step
    print(i)

0
2
4
6
8

In [7]:
for i in range(10,0,-1): #start, stop, step
    print(i)

10
9
8
7
6
5
4
3
2
1

In [14]:
students = ['Alan' , 'Bil', 'Ramesh', 'Corry', 'Ram', 'Shyam Bahadur', 'Gita']

index = 0
dic = {}

for i in range(0,len(students)):
    #dic.update({students[i]:i})
    dic[students[i]] = i
print(dic)

{'Alan': 0, 'Bil': 1, 'Ramesh': 2, 'Corry': 3, 'Ram': 4, 'Shyam Bahadur': 5, 'Gita': 6}

In [21]:
us_price = {'milk': 2.03 , 'bread':2.6, 'butter':3.6}


dic = {}

for k , v in us_price.items():
    dic[k] = v * 132

print(dic)

{'milk': 267.96, 'bread': 343.2, 'butter': 475.2}

In [22]:
us_price = {'milk': 2.03 , 'bread':2.6, 'butter':3.6}

dic = {}

for k,v in us_price.items():
    dic[k] = (v * (13/100))*132 + v*132
print(dic)

{'milk': 302.79479999999995, 'bread': 387.816, 'butter': 536.976}

In [23]:
us_price = {'milk': 2.03 , 'bread':2.6, 'butter':3.6, 'iphone':999, 'meat':5, 'mobile':500, 'laptop':1000, 'television':340}
dic = {}

for k,v in us_price.items():
    if v < 5:
        dic[k] = (v * (13/100))*132 + v*132
    elif v > 5:
        dic[k] = (v * (20/100))*132 + v*132

print(dic)

{'milk': 302.79479999999995, 'bread': 387.816, 'butter': 536.976, 'iphone': 158241.6, 'mobile': 79200.0, 'laptop': 158400.0, 'television': 53856.0}

In [ ]:
#pass , continue, break

In [24]:
age = 17
if age > 17:

_IncompleteInputError: incomplete input (531034232.py, line 3)

In [25]:
age = 17
if age > 17:
    pass

In [26]:
age = 17
if age > 17:
    pass
print('hello')

hello

In [33]:
age = 17
if age == 17:
    pass
    print(age)

17

In [38]:
for i in range(0,9):
    pass

In [47]:
number = [1,2,6,8,9,6,10]
a=0
for i in number:
    if i == 6:
        pass
    else:
        a = i + a
print(a)

30

In [43]:
number = [1,2,6,8,9,6,10]
a=0
for i in number:
    if i == 6:
        pass
 
    a = i + a

print(a)

42

In [44]:
number = [1,2,6,8,9,6,10]
a=0
for i in number:
    if i == 6:
        continue
         #skips the currently iterated item
        #does not run anything below 
    a = i + a

print(a)

30

In [45]:
number = [1,2,6,8,9,6,10]
a=0
for i in number:
    if i == 6:
        break
        #completely terminates the loop when condition met
    a = i + a

print(a)

3

In [2]:
name = ['ram', 'shyam', 'gita', 'sita']
foods = ['momo', 'chowmein', 'thukpa']

for i in name:
    for j in foods:
        print('{} eats {}'.format(i,j))

ram eats momo
ram eats chowmein
ram eats thukpa
shyam eats momo
shyam eats chowmein
shyam eats thukpa
gita eats momo
gita eats chowmein
gita eats thukpa
sita eats momo
sita eats chowmein
sita eats thukpa

In [1]:
name = ['ram', 'shyam', 'gita', 'sita']

i=0 #initializer

while i<4:
    print(name[i]) #condition
    i += 1 # increment/decrement

ram
shyam
gita
sita

In [2]:
numbers = [1,2,3,4]
i = 0
sum = 0
while i < len(numbers):
    sum = numbers[i]+sum
    i+=1
print(sum)

10