In [2]:
x = 1 #variable => valuee store => integer value / data type / data structure
y = 2

sum = x+y

print (sum)

3

In [3]:
return = 3

SyntaxError: invalid syntax (1284364588.py, line 1)

In [4]:
dsagdsfgdg = 3

In [5]:
1___ = 3

SyntaxError: invalid decimal literal (3246722604.py, line 1)

In [6]:
for = 3

SyntaxError: invalid syntax (191355952.py, line 1)

In [7]:
_ = 9

In [8]:
_____ = 4

In [9]:
first-name = 'ram'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2919456776.py, line 1)

In [10]:
x = 1 #variable => valuee store => integer value / data type / data structure
y = 2

 sum = x+y # indentation error

print (sum)

IndentationError: unexpected indent (3032733127.py, line 4)

In [11]:
# is used for commenting

In [12]:
gravity = 9.8
GRAVITY = 9.8
#costant are represented by capital letters

In [13]:
# binary, octal, decimal, hexadecimal

a = 0b1010 # Binary Literals ==> 2 digits 0,1
b = 100    # Decimal Literals ==> 10 digits 0-9
c = 0o310  # Octal Literal ==> 8 digit 0-7
d = 0x12df # HExadecimal Literal ==> 16 digits 0-9 & a-f

print(a,b,c,d)

10 100 200 4831

In [15]:
a, b, c, d = 0b1010, 100, 0o310, 0x12df
print(a,b,c,d)

10 100 200 4831

In [21]:
a = 5 #integer
b = 6.5 #float
print(type(a), type(b))

<class 'float'> <class 'float'>

In [22]:
# dynamically typed language => can change the datatype of variable in run time

In [25]:
a = 'ram'
print(type(a))
a = 1
print(type(a))

<class 'str'>
<class 'int'>

In [28]:
a = 5
print(id(a))
a = 'ram'
print(id(a))
# 4330138328 is garbage value

4330138328
4383397744

In [29]:
# garbage collected language ==> removes unused / garbage value from the memory

In [31]:
a = 'ram'
print(type(a))
a = '''ram'''
print(type(a))
a = "ram"
print(type(a))
a = """ram"""
print(type(a))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [36]:
# boolean
a = 1
b = 2
c = a>b
print (c)
print (type(c))

False
<class 'bool'>

In [38]:
# None datatype
x = None
print (type(x))

<class 'NoneType'>

In [39]:
# Exercise

In [40]:
a = 25 # variable
GRAVITY = 9.8 # constant

In [52]:
first_name = 'Ram' # variable
last_name = 'Bahadur' # variable
full_name = first_name + " " + last_name
print(full_name)

Ram Bahadur

In [46]:
is_light_on = True

In [47]:
a,b,c = 1,2,3

In [48]:
# End

In [55]:
# list datatype
a = [1, 2, 3, 4]
print(a, type(a))

[1, 2, 3, 4] <class 'list'>

In [56]:
# tuple datatype
a = (1,2,3,4)
print(a, type(a))

(1, 2, 3, 4) <class 'tuple'>

In [57]:
# set datatype
a = {1,2,3,4}
print(a, type(a))

{1, 2, 3, 4} <class 'set'>

In [73]:
# dictionary datatype
a = {
    'first_name' : "ram",  # key:value with comma separated 
    'last_name' : "bahadur",
    "age" : 23  #last comma is optional    
    }
print(a , type(a))

{'first_name': 'ram', 'last_name': 'bahadur', 'age': 23} <class 'dict'>

In [71]:
# integer ==> 12
# float ==> 12.1
# string ==> abc
# complex ==> 4j
# boolean ==> True False
# None 
# list => []
# tuple => ()
# set => {}
# dictionary => {} => key : value pair

In [74]:
s = "My name is Bibek. I am a boy. I am I."
print(s)

My name is Bibek. I am a boy. I am I.

In [76]:
s = "My name is Bibek. 
I am a boy. 
I am I."
print(s)

SyntaxError: unterminated string literal (detected at line 1) (3770135507.py, line 1)

In [80]:
s = "My name is Bibek.\nI am a boy.\nI am I."
print(s)

My name is Bibek.
I am a boy.
I am I.

In [81]:
# """ ==> multiple quotation ==> multiline string
s = """My name is Bibek. 
I am a boy. 
I am I."""
print(s)

My name is Bibek.
I am a boy.
I am I.

In [83]:
#escaping character
s = "My name is Bibek.\\nI am a boy.\\nI am I."
print(s)

My name is Bibek.\nI am a boy.\nI am I.

In [84]:
#r means raw character 
s = r"My name is Bibek.\\nI am a boy.\\nI am I."
print(s)

My name is Bibek.\\nI am a boy.\\nI am I.

In [91]:
x = (input("Enter a number for x "))
y = (input("ENter a number for y"))

sum = x+y
print(sum)
print(type(x) , type(y))

Enter a number for x  2
ENter a number for y 4

24
<class 'str'> <class 'str'>

In [87]:
'1' + '2'
#concatenation

'12'

In [89]:
1 + 2

3

In [92]:
x = int(input("Enter a number for x "))
y = int(input("ENter a number for y"))

sum = x+y
print(sum)
print(type(x) , type(y))

Enter a number for x  3
ENter a number for y 5

8
<class 'int'> <class 'int'>

In [93]:
float(5)

5.0

In [94]:
int(10.6)

10

In [95]:
float('2.5')

2.5

In [96]:
str(25)

'25'

In [97]:
set([1,2,3])

{1, 2, 3}

In [98]:
tuple({1,2,3})

(1, 2, 3)

In [99]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [102]:
dict((({3,4} , {5,6})))

{3: 4, 5: 6}

In [105]:
dict([(3,5) , (9,6)])

{3: 5, 9: 6}

In [104]:
dict([{3,5} , {4,6}])

{3: 5, 4: 6}

In [108]:
dict(((3,5) , (4,6)))

{3: 5, 4: 6}

In [110]:
x = int(input("Enter x"))
y = int(input("Enter y"))
sum = x+y
print(sum)

Enter x 2
enter y 4

6

In [117]:
#simple interst
p = int(input("Enter a principle"))
t = int(input("Enter time"))
r = int(input("Enter rate"))
Si = float((p * t * r)/100)
print ("Simple intrest is ",Si )

Enter a principle 50_000_000_000
Enter time 4
Enter rate 3

Simple intrest is  6000000000.0

In [123]:
#simple interst
p = int(input("Enter a principle"))
t = int(input("Enter time"))
r = int(input("Enter rate"))
Si = float((p * t * r)/100)
#f string interpolation
print(f"Simple intrest is {Si} ")

Enter a principle 412
Enter time 2
Enter rate 3

Simple intrest is 24.72

In [126]:
# Area and Peri
l = int(input("Enter the length"))
b = int(input("Enter the breadth"))
area = float(l * b)
perimeter = float(2*(l+b))
print(f" Area is {area} and Perimeter is {perimeter} ")

Enter the length 10
Enter the breadth 8

 Area is 80 and Perimeter is 36

In [132]:
r = float(input("Enter the radius"))
PI = 3.14
area = float(PI * (r  ** 2))
perimeter = float(2 * PI * r)
print(f"Area of circle is {area} and perimeter is {perimeter}")

Enter the radius 7

Area of circle is 153.86 and perimeter is 43.96

In [133]:
from math import pi

print(pi)

3.141592653589793

In [135]:
5 % 2

1