In [33]:
# num pyn / Pandas

In [2]:
pip install umpy

Collecting umpy
  Downloading umpy-0.1.0.tar.gz (4.5 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: umpy
  Building wheel for umpy (pyproject.toml) ... done
  Created wheel for umpy: filename=umpy-0.1.0-py3-none-any.whl size=4858 sha256=2b3c13e854d30b999829863f206506adeadde98e8981816648667a96cdcec445
  Stored in directory: /Users/bibekbasaula/Library/Caches/pip/wheels/76/94/78/bf8b5dc70c91a6c8ef9b03da49862e080dad0c333f56a7054b
Successfully built umpy
Installing collected packages: umpy
Successfully installed umpy-0.1.0

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install numpy

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.3.1)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

# 1. Numpy / Pandas  - open source library of python

# Numpy

    - Collection of homogenous data
    - functions
    - Collection of elements
    - Numerical Python
    - Computing Efficient

# Collection of elements
ids = 5
list,  set, tuple, dictionary
supports heteregenous also

ids = [10, 'Sunbright' , 3.6]

In [9]:
import numpy as np

In [25]:
# Creation :  .array()
ids = np.array([5,7,8,9,2])
print(ids)

print(type(ids))

[5 7 8 9 2]
<class 'numpy.ndarray'>

# Attribute 
.shape
.size
.ndim
.ndim

In [22]:
print(ids.shape)
print(ids.size)
print(ids.ndim)
print(ids.ndim)

(5,)
5
1
1

 # Functions of numpy array

    .np.sum()
    .np.prod()
    .np.mean()
    .np.min()
    .np.max()
    .np.median()
    .np.unique()
    .np.sort()

# Array Arthimetics

    np.add()
    np.subtract()
    np.multiply()
    np.divide()
    np.floor_divide()
    np.power()
    np.mod()
    np.sqrt()

In [60]:
# Pandas

In [28]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [31]:
import pandas as pd

In [34]:
# Open csv file 
pd.read_csv('Sample_Data.csv')

    Country  Age  Salary Purchased
0    France   44   72000        No
1     Spain   45   48000       Yes
2   Germany   30   54000        No
3       USA   20   35000        N0
4     Spain   38   61000        No
5   Germany   40   70000       Yes
6    France   35   58000       Yes
7       USA   45   60000       Yes
8     Spain   55   52000        No
9   Germany   32   50000       Yes
10    Spain   48   79000       Yes
11   France   48   79000       Yes
12  Germany   50   83000        No
13   France   37   67000       Yes
14   France   25   40000        No

In [37]:
num1 = np.array([[5,10,15,20],[2,4,6,8]])
num2 = np.array([1,3,5,7])

print(num1,num2)

[[ 5 10 15 20]
 [ 2  4  6  8]] [1 3 5 7]

In [58]:
print(num1.shape)
print(num1.size)
print(num1.ndim)
print(num1.sum())
print(num1.prod())
print(num1.mean())
print(num1.min())
print(num1.max())
print(np.median(num1))
print(np.sort(num1))

(2, 4)
8
2
70
5760000
8.75
2
20
7.0
[[ 5 10 15 20]
 [ 2  4  6  8]]

In [59]:
print(np.add(num1,num2))

[[ 6 13 20 27]
 [ 3  7 11 15]]